@font-face{
    font-family: 'Gotham Rounded';
    src:url('./GothamRounded-Bold.otf');
    font-weight: bold;
}
@font-face{
    font-family: 'Gotham Rounded';
    src: url('./GothamRounded-Medium.otf');
    font-weight: normal;
}