@import './font/fonts.css';

body{
font-family: "Gotham Rounded";
}
.header{
    position: absolute;
    width: 100%;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.header_wrapper{
    display: flex;
    justify-content: center;
    padding-top: 39px;
}
.navigation{
    width: 100%;
    max-width: 765px;
}
.navigation_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation_item{
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
}
.navigation_item:active{
    color: rgb(179, 177, 88);
}
.navigation_item:hover{
text-decoration: underline;
}
/*FIRST-------------------------------------------------------------*/
.section-first{
    background-image: url(./img/fon.png);
    /*min-height: 100%;*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section-first_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 128px;
}
.section-first_content{
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}
.section-first_title{
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 5px;
}
.section-first_title2{
    display: flex;
    justify-content: center;
    font-weight: normal;
    text-transform: lowercase;
    padding-top: 20px;
    font-size: 16px;
}

.section-first_content-btn{
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    width: 166px;
    height: 49px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    background-color: #16a085;
    color: white;
}

.section-first_content-btn:hover {
  transform: scale(1.2);
  }
.section-first_content-btn:active {
    filter: invert(100%);
  }
.section-first_social{
    position:absolute;
    bottom: 25px;
}
.twitter:hover,.flicker:hover,.dribble:hover{
    transform: rotateX(40deg);
}
.flicker{
    padding: 0 15px;
}
/*SECOND-------------------------------------------------------------------*/
 
.section-second{
    /*min-width: 100%;*/
    height: 494px;
    background-image: url(./img/greyfon.png);
    background-repeat: no-repeat;
    background-size: 100% 494px;
}
.container_second{
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    overflow: hidden;
}
.section-second_wrapper{
    padding: 0 128px;
    display: flex;
    flex-direction: column;
    height: 494px;
    font-weight: bold;
}
.section-second_title{
    max-width: 390px;
    text-transform: uppercase;
    padding-top: 109px;
    font-size: 18px;
    letter-spacing: 3px;
    color: #16a085;
    line-height: 22px;
}
.section-second_subtitle{
    padding-top: 37px;
    font-weight: normal;
    width: 505px;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #373737;
}
.textboldfirst{
    font-weight: bold;
}
.section-second_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        width: 192px;
        height: 51px;
        color: white;
        letter-spacing: 2px;
        line-height: 20px;
        border-radius: 3px;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        background-color: #16a085;
        text-transform: uppercase;
}
.section-second_btn:hover {
    border-radius: 70%;
  }
.section-second_btn:active {
    background: rgb(117, 24, 121);
  }
.iphone{
    position:absolute;
    margin-top: 90px;
    right: 128px;
}
/*THIRD-------------------------------------------------------------------*/
.section-third{
    background-image: url(./img/whitefon.png);
    display: flex;
    background-repeat: no-repeat;
    background-size: 100% 558px;
    height: 558px;
    
}
.containerthird{
    min-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}
.section-third_wrapperall{
    height: 558px;
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 128px;
}
.flatiphone{
    margin-top: 145px;
}
.section-third_wrapper{
    font-weight: bold;
    position:absolute;
    right:180px;
}
.section-third_wrapper_title{
    padding-top: 139px;
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 22px;
    color: #16a085;
    text-transform: uppercase;
}
.section-third_wrapper_title2{
    padding-top: 35px;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 22px;
    color: #373737;
    font-weight: normal;
}
.textboldsecond{
    font-weight: bold;
} 
.section-third_wrapper_btn{
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 192px;
    height: 51px;
    background-color: #16a085;
    text-decoration: none;
    text-transform: uppercase;
}
.section-third_wrapper_btn:hover {
    transform: scale(0.7);
  }
.section-third_wrapper_btn:active {
    background: rgb(7, 137, 170);
  }
.switching{
    margin-top: 40px;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 22px;
    color: #373737;
    display: flex;
    font-weight: bold;
}
.leftarrow:hover{
    transform: scale(1.2);
 }
.arrows{
    display: flex;
}
.arrowright{
    margin-left: 12px;
}
.arrowleft{
     margin-right: 12px;
}
.rightarrow:hover{
    transform: scale(1.2);
 }
/*COMMUNITY-------------------------------------------------------------*/
.section_ourcommunity{
    display: flex;
    background-image: url(./img/greyfon.png);
    background-repeat: no-repeat;
    background-size: 100% 483px;
    height: 483px;
}
.section_ourcomminuty_container{
    max-width: 1280px;
    min-width: 1280px;
    margin: 0 auto;
}
.section_ourcomminuty_wrapper{
    padding: 0 128px;
    height: 483px;
    max-width: 1280px;
    margin: 0 auto;

}
.section_ourcommunity_text{
    width: 25%;
}
.bonuswrapper{
    display: flex;
}
.greencamera{
    padding-left: 58px;
    padding-top: 54px;
}
.section_ourcommunity_text_title{
    padding-top: 26px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 4px;
    line-height: 20px;
    color: #373737;
}
.section_ourcommunity_text_subtitle{
    letter-spacing: 2px;
    color: #373737;
    text-align: center;
    margin-top: 20px;
    width: 177px;
    font-size: 9px;
    font-weight: bold;
    line-height: 12px;
    
}
.section_ourcommunity_photo_leftcolumn{
    margin: 0 24px 0 0;
    display: flex;
    flex-direction: column;
}
.section_ourcommunity_photo_rightcolumn{
    display: flex;
    flex-direction: column;
}
.section_ourcommunity_photo{
    display: flex;
    align-items: center;
    width: 75%;
    flex-direction: row;
    right: 0px;
    padding-top: 10px;
}
.section_ourcomminuty_arrows{
    cursor: pointer;
    margin-top: 93px;
     display: flex;
    justify-content: flex-end;
}
.section_ourcomminutyrightarrow{
    margin-right: 30px;
}
.section_ourcomminuty_leftarrow{
    margin-right: 15px;
}

.leafs{
   height: 244px;
}
.section_ourcomminuty_leftarrow:hover{
    transform: scale(1.2);
 }
 .section_ourcomminuty_rightarrow:hover{
    transform: scale(1.2);
 }
/*SUBSCRIBE---------------------------------------------------------------------*/
.section_subscribe_to_us{
    display: flex;
    background-image: url(./img/telephonfon.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 100%;
    height: 100vh;
    align-items: center;
}
.section_subscribe_to_us_container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
.section_subscribe_to_us_text{
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 4px;
    color: #ffffff;
    font-weight: bold;
}
.section_subscribe_to_us_inputandmark{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}
.section_subscribe_to_us_input{
    width: 280px;
    height: 60px;
    padding-left: 20px;
}
input::-webkit-input-placeholder { color: black;
    font-weight: 500;
 }
 .form{
    display: flex;
}
.email_input_btn:hover{
    box-shadow:
    1px 1px #53ea93,
    2px 2px #53ea93,
    3px 3px #53ea93,
    4px 4px #53ea93,
    5px 5px #53ea93,
    6px 6px #53ea93,
    7px 7px #53ea93;
    transform: translateX(-7px);
}
 .section_subscribe_to_us_input{
    text-transform: uppercase;
    border-top-left-radius:3px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    border: 0px;
    border-bottom-left-radius:3px;
}
 .section_subscribe_to_us_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    width: 63px;
    height: 62px;
    background-color: #16a085;   
}
.section_subscribe_to_us_btn:hover{
    box-shadow:
    1px 1px #53ea93,
    2px 2px #53ea93,
    3px 3px #53ea93,
    4px 4px #53ea93,
    5px 5px #53ea93,
    6px 6px #53ea93,
    7px 7px #53ea93;
    transform: translateX(-7px);
 }
 .section_subscribe_to_us_btn:active{
    background: rgb(252, 8, 8);
}
/*DOWNLOAD---------------------------------------------------------------------------*/
.section_download{
    background-image: url(./img/greyfon.png);
    display: flex;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 396px;
    height: 396px;
}
.download_container{
    width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    text-transform: uppercase;
}
.download_text{
    font-weight: bold;
    margin-top: 92px;
    font-size: 20px;
    letter-spacing: 3px;
    color: #373737;
}
.download_subtitle{
    text-align: center;
    width: 877px;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 22px;
    color: #373737;
    margin-top: 7px;
    font-weight: bold;  
}
.download_btns{
    width: 610px;
    justify-content: space-between;
    
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}
.applestore_btn{
    transition-duration: 0.4s;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    opacity: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #1abc9c;
    text-decoration: none;
    width: 240px;
    height: 56px;
    color: white;
    padding-left: 22px;
}
.applestore_btn:hover {
  background-color: #221fc4; 
  color: rgb(253, 251, 251);
  }
.applestore_btn:active {
    opacity: 0.6;
  }
.applestoreicon_btn{
    opacity: 1;
    border-top-right-radius:3px;
    transition-duration: 0.4s;
    border-bottom-right-radius:3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #16a085; 

}
.applestoreicon_btn:active {
    opacity: 0.6; 
}
.applestoreicon_btn:hover {
  background-color: #221fc4; 
  color: rgb(252, 252, 252);
}
.playstore_btn{
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 1;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    margin-left: 20px;
    transition-duration: 0.4s;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #1abc9c;
    text-decoration: none;
    width: 240px;
    height: 56px;
    color: white;
    padding-left: 32px;
}
.playstore_btn:hover {
  background-color: #221fc4; 
  color: rgb(255, 255, 255);
  }
.playstore_btn:active {
    opacity: 0.6; 
  }
.playstoreicon_btn{
    transition-duration: 0.4s;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    width: 56px;
    height: 56px;
    background-color: #16a085;
}
.playstoreicon_btn:active {
    opacity: 0.6; 
}

.playstoreicon_btn:hover {
  background-color: #221fc4; 
  color: rgb(255, 255, 255);
}
.section_subscribe_to_us_inputandmark{
    display: flex;
}
.email_input{
    width: 280px;
    height: 60px;
    padding-left: 20px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    border: 0px;
    text-transform: uppercase;
}
.email_input_btn{
    border: 0px;
    background: url(./img/check.png) no-repeat center;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 62px;
    background-color: #16a085;   
}
/*FOOTER--------------------------------------------------------------------*/
.container_footer{
    position: relative;
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    min-height: 130px;
    align-items: center;
}
.footer_wrapper{
    font-weight: bold;
    padding-top: 8px;
    padding-left:128px;
    letter-spacing: 2px;
     font-size: 14px;
     color: #373737;

 }
.footer_list{
    display: flex;
}

.footer_item1:hover {
    transform: scale(1.2);
  }
.footer_item2{
    color: #16a085;
    margin:0 7px;
 }

.footer_item3:hover{
    transform: scale(1.2);
  }
.footer_item4{
    color: #16a085;
    margin:0 7px;
}
.footer_item5:hover{
    transform: scale(1.2);
  }
.copyright{
    padding-top: 25px;
}
.footercamera{
    position:absolute;
    right: 125px;
}
/*-----------------------------------------------*/
 .navigation_item{
     cursor: pointer;
 }
 .section-first_social{
     cursor: pointer;
 }
 .arrows{
    cursor: pointer;
 }
 .section_ourcomminuty_arrows{
    cursor: pointer;
 }
 .email_input_btn{
    cursor: pointer;
 }
.footer_item1:hover,.footer_item3:hover,.footer_item5:hover{
    cursor: pointer;
}
